
<body style="background-color: darkslategrey">
    <p style="color:white; text-align: center; font-size: 30px"> <b>What our page is about.</b></p>
    <p style="color:white">Comic Mania is a website the purely dedicatited to reviewing comics and giving our feed back on what what we read.</p>
    </body>
