
@{
    ViewBag.Title = "Location";
}
<body style="background-color: darkslategrey">
    <h2 style="text-align: center; color:white">Location</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d91015.17613554918!2d18.399352230753085!3d-33.94384051964934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scomic%20stores!5e0!3m2!1sen!2sza!4v1649866830904!5m2!1sen!2sza" width="1100" height="750" style="border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>