
@{
    ViewBag.Title = "News";
}

<body style="background-color: darkslategrey">
    <h2 style="text-align:center; color:white">News</h2>

    <p style="color:white">Thanos now has the 5th stone! what does that mean for us?
    </br>
    Comic Sans now has the new Avengers comic purchase now before the spoilers arrive!</p>
</body>